
<div class="header">
    <br>
    <div class="container-fluid" style="max-width: 600px; margin-left: 380px;">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
          <button class="btn btn-outline-info" type="submit" style="padding: 3px;">Buscar</button>
        </form>
      </div>
    <nav class="nav">
      <div class="logo">
       
  
        <h3 style="margin-left: 3px;">LOGO</h3>
      </div>
      <ul class="menu">
        <li>
          <a href="#">
            <mat-icon>
              home
            </mat-icon>
            Inicio
          </a>
        </li>
        <li>
          <a href="#">
            <mat-icon>
              local_mall
            </mat-icon>
            Catalogos
          </a>
        </li>
        <li>
          <a href="#">
            <mat-icon>
              supervised_user_circle
            </mat-icon>
            Nosotros</a>
        </li>
        <li>
          <a href="#">
            <mat-icon>
              person
            </mat-icon>
            Extra
          </a>
        </li>
      </ul>
      <button mat-fab extended>
        <mat-icon>person</mat-icon>
        ingresar
      </button>
    </nav>
  </div>
