<div class="footer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            <div class="col">
                <div class="p-3">
                    <h2>Infoblog</h2>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="footer-column">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Consultoría</a></li>
                            <li><a href="#">Desarrollo Web</a></li>
                            <li><a href="#">Marketing Digital</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="footer-column">
                        <h3>Contacto</h3>
                        <p>Email: contacto@example.com</p>
                        <p>Teléfono: +123 456 7890</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="footer-column">
                        <h3>Síguenos</h3>
                        <a href="#">Facebook</a> |
                        <a href="#">Twitter</a> |
                        <a href="#">Instagram</a>
                    </div>
                </div>
            </div>
            
          
        </div>
    </div>
</div>