<div class="header">



  <form class="buscador">
    <div>

      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> <button
        class="btn btn-outline-success" type="submit">Search</button>

    </div>
  </form>

  <div class="encabezado">
    <div>
      <img src="../../../../../assets/logotipo.jpg" alt="" width="50px" height="50px">
    </div>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;">Nosotros</a>
          </li>
        </ul>

      </div>

    </nav>
    <div>
      <button type="button" class="btn btn-info" style="color: white;">
        Registrate
      </button>
    </div>
  </div>

</div>