

<div class="main">
  <br>
  <h3 style="text-align: center;" class="destacado">Destacado</h3>
  <div class="Inicio-destacado">

    <mat-grid-list cols="3">
      <mat-grid-tile>
        <div class="card" style="width: 18rem;">
          <img src="../../../../../assets/camiseta-de-boca.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camiseta de Boca</h5>
            <p class="card-text">Una camiseta alternativa con origenes del pais de Suiza</p>

          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card" style="width: 18rem;">
          <img src="../../../../../assets/camiseta-de-san_lorenzo.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card" style="width: 18rem;">
          <img src="../../../../../assets/camise-de-rosario_central.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>



 
</div>




